.TopBar
  position: absolute
  z-index: 100
  left: -10px
  top: -100px

  &__wrapper
    position: relative
    background: linear-gradient(blue , white 70%)
    color: white
    height: 100vh
    width: 100vw

  &__items
    padding-top: 50px

  &__icon
    position: absolute
    top: 30px
    right: -300px
    & svg
      fill: white
      width: 5%
      height: 5%

  &__item
    display: flex
    justify-content: center
    font-size: 40px
    padding: 20px 0
